@tailwind base;
@tailwind components;
@tailwind utilities;

/* Importa los estilos de slick-carousel */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


@import '@fontsource/poppins/600.css'; /* Para Semibold */
@import '@fontsource/poppins/300.css'; /* Para Light */


.slider {
    height: 100px;
    width: 100vw;
    overflow: hidden;
}

.slider .move {
    display: flex;
    width: calc(250px * 8); /* Ajusta este valor según el número de logos */
    animation: animacion 7s linear infinite; /* Cambia la duración según sea necesario */
}

@keyframes animacion {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 1)); /* Desplazarse hasta la mitad */
    }
}

img {
    width: auto; /* Ajustar el tamaño de los logos */
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.2s ease-out, transform 1.2s ease-out;
  }
  
  .fade-in.show {
    opacity: 1;
    transform: translateY(0);
  }
  
